@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');

:root {
    --main-bg-color: #2874f0;
}

* {
    padding: 0;
    margin: 0;
}

header {
    background-color: var(--main-bg-color);
    font-family: 'Lato', sans-serif;
}

nav {
    display: flex;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    padding: 0 25px;
    width: 88px;
}

nav ul {
    height: 58px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav ul li {
    list-style: none;
    padding: 0 23px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    font-weight: bold;
}

.search {
    display: flex;
    align-items: center;
}

.search input {
    width: 30vw;
    height: 27px;
    border-radius: 5px;
    margin: 0 16px 0 56px;
    padding: 0 12px;
}

.search button {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}

.container {
    min-height: calc(100vh - 58px - 12vh);
}

.slider {
    width: 80vw;
    margin: 12px auto;
    overflow: hidden;
}

.slider img {
    height: 300px;
    width: 1200px;
}

.card {
    margin: auto;
    max-width: 91vw;
    margin: 37px auto;
}

.cards{
    display: flex;
    overflow: hidden;
}

.card-items{
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    width: 9vw;
    margin: 0 15px;
}

.card h2 {
    font-family: 'Lato', sans-serif;
}

.card-items img {
    height: 160px;
    width: 160px;
}

footer {
    height: 12vh;
    background-color: var(--main-bg-color);
    color: white;
    font-family: 'Lato', sans-serif;
}